SAMRT/SAMRT.Test.Linq/Service References/SivgkService/InformationLinkService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ns0="urn:sivgk:services:notification-link-types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:sivgk:services:notification-link" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="InformationLinkService" targetNamespace="urn:sivgk:services:notification-link" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="urn:sivgk:services:notification-link">
      <xs:import schemaLocation="http://sk.control.sivgk.srvdev.ru/service/1/information?xsd" namespace="urn:sivgk:services:notification-link-types" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getRequest">
    <wsdl:part name="accessToken" element="ns0:accessToken" />
    <wsdl:part name="type" element="ns0:type" />
    <wsdl:part name="revision" element="ns0:revision" />
    <wsdl:part name="filter" element="ns0:filter" />
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part name="type" element="ns0:type" />
    <wsdl:part name="revision" element="ns0:revision" />
    <wsdl:part name="data" element="ns0:data" />
  </wsdl:message>
  <wsdl:message name="NotificationHeaderMessage">
    <wsdl:part name="NotificationHeader" element="ns0:NotificationHeader" />
  </wsdl:message>
  <wsdl:message name="NotificationHeaderMessage2">
    <wsdl:part name="NotificationHeader" element="ns0:NotificationHeader" />
  </wsdl:message>
  <wsdl:portType name="InformationLinkPortType">
    <wsdl:operation name="get">
      <wsdl:input message="tns:getRequest" />
      <wsdl:output message="tns:getResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InformationLinkBinding" type="tns:InformationLinkPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get">
      <soap:operation soapAction="urn:sivgk:services:notification-link#get" />
      <wsdl:input>
        <soap:header message="tns:NotificationHeaderMessage" part="NotificationHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InformationLinkService">
    <wsdl:documentation>Универсальный веб-сервис отправки информации для взаимодействия смежных систем в рамках ИС СИВГК</wsdl:documentation>
    <wsdl:port name="InformationLinkPort" binding="tns:InformationLinkBinding">
      <soap:address location="http://sk.control.sivgk.srvdev.ru/service/1/information" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>