SAMRT/SAMRT.Test.Linq/Service References/SivgkService/information.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns0="urn:sivgk:services:notification-link-types" elementFormDefault="qualified" targetNamespace="urn:sivgk:services:notification-link-types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="informationSystemData">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotificationHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="from" type="ns0:informationSystemData" />
        <xs:element name="to" type="ns0:informationSystemData" />
        <xs:element name="messageId" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="accessToken" type="xs:string" />
  <xs:element name="filter" type="xs:string" />
  <xs:element name="type" type="xs:string" />
  <xs:element name="data">
    <xs:complexType>
      <xs:sequence>
        <xs:any minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="revision">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" name="timestamp" type="xs:dateTime" />
        <xs:element minOccurs="1" name="revision" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>